body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffe4ec;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #d32f2f;
}

.buttons {
  margin-top: 20px;
}

.yes-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.no-button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.no-button:hover {
  transform: scale(1s);
  background-color: #BFBFBF;
}

.gif_container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
.thai {
  border-radius: 40px;
 background-color: #ff69a1;
 border: none;
 padding: 10px 30px;
 color: white;
 transition: 0.3s;
 margin-top: -100px;
 box-shadow: 0 2 6 rgb(0, 0, 0.3);
}
.thai:hover {
  background-color: #FF4FA7;
  transform: scale(1s);
}